<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO WORLD</title>
    <h1>Hello World, welcome to the most useless page on the web!</h1>
</head>
<body>

</body>
</html>