<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index.ejs</title>
    <h1>Hello, welcome to the .ejs index file!</h1>
    <input type="text" name="username" placeholder="Brugernavn">
    <br>
    <input type="password" name="password" placeholder="Password">
    <button type="button" value="OK" name="okButton">OK</button>
</head>
<body>

</body>
</html>